
/* Customization to limit height of the menu */
.custom-restricted {            /* Properties of the sidebar */
    list-style: none;
    background: black; /* Standard syntax */
    width: 250px;
    position: fixed;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.pure-menu-horizontal {
    position: absolute;
    background: black;
    height: 40px;
}

.pure-menu-link {
    align-self: center;
}

.pure-menu-list-h {
    float: right;
    position: absolute;
    right: 10vw;
    top: -15px;
    font-size: small;
    font-weight: bold;
}

.pure-menu-link {           /* Change the properties of the links on the menus */
    color: lightgray;
}

.pure-menu-link:hover, .pure-menu-link:visited{     /* properties of the links once clicked and during hover */
    background: midnightblue;
}

body {
    background: url(/static/images/12519624925_6dcdafbf23_b.jpg);
}

.pure-button {
    position: inherit;
    background: black;
    color: white;
    padding: 2vh 2vw;
    font-family: Courier;
    font-weight: bold;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;

}
    #layout.active #menu {
        left: 150px;
        width: 150px;
    }

    #layout.active .menu-link {
        left: 150px;
    }
/*
The content `<div>` is where all information goes.
*/
.content {
    position: fixed;
    top: calc( 40px + 5% );
    left: calc( 300px + 5% );
    right: 5%;
    bottom: 5%;
    margin: 5px auto;
    padding: 5px;
    max-height: 90vh;
    line-height: 1.6em;
    background: white;
    border: solid;
    overflow: hidden;
}

.verticalLine {
    border-right: thin dashed #000000;
    height:100vh;
}

/*
used to center images
*/
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}