{% extends 'base.html' %}

{% block content %}
    <body><div>
        <h1>Login</h1>
        <font color="red">Bad credentials. Please Try again</font>
        <form id="login_form" method="post" action="/note/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
    </div>
    </body>
{% endblock %}