{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="page-header">
	<h1>User Profile</h1>
</div>

<div class="pure-g">
    <div class="hero-unit pure-u-1-3" style="font-family: Courier">

            <p>Username: {{ user.username }}</p>
            {% if user.email %}
            <p>Email: {{ user.email }}</p>
            {% endif %}

        <br/>
        {% if user.userprofile.picture %}
            <img src="{{ user.userprofile.picture.url }}" style="width:90%; height:auto" />
        {% else %}
            You have been given the default display picture
            <img src="{% static "images/default.jpg" %}" alt="Default Picture" style="width:90%; height:auto"/>
        {% endif %}
    </div>
    <div class="pure-u-1-2" style="font-family: Courier">
        <h3>Your recently uploaded notes</h3>
        <table class="pure-table">
            <thead style="background:black; color:white">
                <tr>
                    <th>Title</th>
                    <th>Module</th>
                    <th>Subject</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            {% for note in notes %}
                {% if note.uploader == user %}
                    <tr class="pure-table-odd">
                        <td>{{ note }}</td>
                        <td>{{ note.module }}</td>
                        <td>{{ note.subject }}</td>
                        <td>{{ note.date }}</td>
                    </tr>
               {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
