{% extends 'base.html' %}

{% block content %}
    <body><div>
        <h1>Register with Note Emporium</h1>

        {% if registered %}
        <strong>You are already registered.</strong>
        <a href="/note/">Return to the homepage.</a><br />
        {% else %}
        <strong>Register here</strong><br />

        <form id="user_form" method="post" action="/note/register/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </div>
    </body>
{% endblock %}