{% extends 'base.html' %}

{% block content %}
    <body><div>
        <h1>Register with Note Emporium</h1>
        <br>
        {% if registered %}
        <strong>Registration is completed</strong>
        <a href="/note/">Return to the homepage.</a><br />
        {% else %}

{#        <form id="user_form" class="pure-form" method="post" action="/note/register/"#}
{#                enctype="multipart/form-data">#}
{##}
{#            {% csrf_token %}#}
{#            {{ user_form.as_p }}#}
{#            {{ profile_form.as_p }}#}
{##}
{#            <input type="submit" class="pure-button" name="submit" value="Register" />#}
{#        </form>#}
        <div class="pure-g">
            <div class="pure-u-1-6" style="font-family: Courier; font-size:large">
                <ul class="pure-menu-list">
                    <li>Username:</li>
                    <br>
                    <li>Email:</li>
                    <br>
                    <li>Password:</li>
                    <br>
                    <li>Picture:</li>
                </ul>
            </div>
            <div class="pure-u-1-3">

                <form id="user_form" action="/note/register/" method="post" class="pure-form">
                    {% csrf_token %}
                    <ul class="pure-menu-list" style="line-height: 23px">
                    {% for field in user_form %}
                        <li class="pure-input" style="font-size:small">{{field}}</li>
                        <br>
                    {% endfor %}
                    {% for field in profile_form %}
                        <a class="pure-link" style="font-family: courier">{{ field }}</a>
                    {% endfor %}
                    </ul>
                    <br>
                    <input type="submit" class="pure-u-1-3 pure-button" style="padding:8px" value="Submit">
                </form>
                {% endif %}
            </div>
        </div>
    <h2>N.B.:</h2>
    <ul>
        <li>username must be alphanumeric</li>
        <li>picture must be a jpeg</li>
        <li>email is not required</li>
    </ul>
    </div>
</body>
{% endblock %}