{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Search Notes with Note Emporium</h1>
    </div>

<form method="get" action="">
          
<label for="id_q">Search:</label>
           <input type="text" name="q" id="id_q"/>
           <input type="submit" value="Submit"/>
		   </br>
		   
		    {% for result in results %}
			  {% for note in notes %}
			    {% if note.title == result %}
				     Here are the results:</br>
					 </br>
		             <li><a href= "/static/staticstatic/media/{{ note.file }}/">{{result}}</a></li>
					 {{note.subject}}</br>
					 {{note.module}}</br>
					 {{note.uploader}}</br>
					 {{note.date}}</br>
			         </br>
			 {% endif %} 
			 {% endfor %}
			 {% endfor %}
			 
        </form>
{% endblock %}
