{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Search Notes with Note Emporium</h1>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-4">

<form method="get" action="">
<label for="id_q">Search:</label>
           <input type="text" name="q" id="id_q"/>
           <input type="submit" value="Submit"/>
		   </br>
		   </br>
		   </div>
<div class="pure-u-3-4">
              {% if haveRes %}
                Result(s) Found:</br>
			  {% else %}
			    </br>
			    Please Type here.</br>
			    (If no result turns up, please modify your search and try again.)
			  {% endif %}

		    {% for result in results %}
			  {% for note in notes %}
			    {% if note.title == result %}
		             <li><a href= "/static/staticstatic/media/{{ note.file }}">{{result}}</a></li>
					 Subject: {{note.subject}}</li></br>
					 Module: {{note.module}}</li></br>
					 Uploader: {{note.uploader}}</li></br>
					 Date Uploaded: {{note.date}}</li></br>
			         </br>
			 {% endif %}
			 {% endfor %}
			 {% endfor %}

        </form>
    </div>
    </div>

{% endblock %}
