{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<h1 style="font-family:courier">{{ subject }} / {{ module }}</h1>

    <table class="pure-table">
            <thead style="background:black; color:white">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
        {% for note in notes %}
            {% if note.module == module %}
                <tr>
                    <td><a target="_blank"
                            href="/static/staticstatic/media/{{ note.file }}">
                            {{ note.title }}</a></td>
                    <td>{{ note.uploader }}</td>
                    <td>{{ note.date }}</td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
    </table>


{% if note in module %}
    <strong>No Notes for this module!!!!</strong>
{% endif %}
    <br/>
    <button class="pure-button" href = " {{ request.build_absolute_uri }}create/">Add Note </button>
{% endblock %}