{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- need diferent condition here -->
{% for note in notes %}
        {% if note.module == module %}
            <li><a href="/{{ STATIC_URL }}/uploaded_file/{{ note.file }}">{{ note.title }}</a></li>
            <a href="/static/staticstatic/media/uploaded_files/{{ note.file }}">{{ note.title }}</a></li>


        {% endif %}
<!-- url here needs to change -->
    {% endfor %}

    <strong>No Notes for this module!!!!</strong>





    <a href = " {{ request.build_absolute_uri }}create/">Add Note </a> <!-- change the link to /subject/CompSci/JOOSE/
{% endblock %}