<!DOCTYPE html>
{% load note_extras %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="frame template for the note emporium">
    <meta name="author" content="William">
    {% load static %}
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/emporium_custom.css">

</head>
<body>

<div id="layout" style="font-family: Courier">
    <div class="pure-menu pure-menu-horizontal" style="left:0px; max-width:300px">
        <a href="/note/" class="link" style="height:10vh; width:auto; height:0px">
        <img src="{% static "images/black_logo_img.jpg" %}", height = "100%"
        alt="emporium logo" style="left:15px; position:absolute; border: thick black"/><img src="{% static "images/black_text.jpg" %}",
        width = auto height = "110%" alt="emporium logo" style="position:absolute; bottom:0px; left:65px"/></a>
    </div>


    <div class="pure-menu pure-menu-scrollable custom-restricted">
        <ul class="pure-menu-list">
        {% get_subject_list subject %}
        </ul>
    </div>

    <div class="pure-menu pure-menu-horizontal" style="width: calc( 100% - 300px ); width:-moz-calc( 100% - 300px );
     display:inline; left:299px">
        <ul class="pure-menu-list-h" style="font-size:large; top:-18px; left:5%">
            <li class="pure-menu-item"><a href="/note/" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="/note/search/" class="pure-menu-link">Search</a></li>
            <li class="pure-menu-item"><a href="/note/latest" class="pure-menu-link">Latest</a></li>

        {% if user.is_authenticated %}
            <li class="pure-menu-item"><a href="/note/profile/" class="pure-menu-link">Profile</a></li>
            <li class="pure-menu-item"><a href="/note/logout/" class="pure-menu-link">Logout</a></li>

            {% if user.userprofile.picture %}
		        <li class="pure-menu-item"><img src="{{ user.userprofile.picture.url }}"
                style="position: absolute; max-height: 40px; left:3%; bottom:-22px" />
	        {% else %}
	            <li class="pure-menu-item"><img src="{% static "images/default.jpg" %}"
                alt="Default Picture" style="position:absolute; max-height: 40px; left:3% ; bottom:-22px" />
	        {% endif %} </li>
            <li class="pure-menu-item" style="right:-5%; color:gray">Welcome, {{ user.get_username }}!</li>

        {% else %}
            <li class="pure-menu-item"><a href="/note/register" class="pure-menu-link">Register</a></li>

        {%  endif %}
        </ul>
    </div>
    <div class = content>
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
