<!DOCTYPE html>
{% load note_extras %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="frame template for the note emporium">
    <meta name="author" content="William">
    {% load static %}
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/emporium_custom.css">

</head>
<body>
<div id="layout">
<!-- I can't change the colour of the element when selected, not sure how, don't like the current colour -->
<div class="pure-menu pure-menu-scrollable custom-restricted">

    <ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="#" class="pure-menu-link"></a></li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link"></a></li>
    <li class="pure-menu-item">{% get_subject_list %}</li>
{#    {%  if subjects %}#}
{#        {% for subject in subjects %}            <!-- Delete if you need -->#}
{#    		<li class="pure-menu-item"><a href="{% url 'subject' subjectTitle.slug %}" class="pure-menu-link">{{ subject.name }}</a></li>#}
{#		{% endfor %}#}
{#    {% else %}#}
{#        <li class="pure-menu-item">There are no subjects yet.</li>#}
{#    {% endif %}#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Accounting and Finance</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Archaeology</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Business</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Celtic Studies</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Central and Eastern<br/>European Studies</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Chemistry</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Classics</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Comparative Literature</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Computing Science</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Dentistry</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Economics</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Education</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Engineering</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">English Language</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">English Literature</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">French</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Geographical and<br/>Earth Studies</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">German</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Health and Wellbeing</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Hispanic Studies</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">History</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">History of Art</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Immunology and<br/>Infection Diseases</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Information Studies</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Italian</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Law</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Life Sciences</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Management</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Mathematics</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Medicine</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Molecular, Cell and<br/>Systems Biology</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Music</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Neuroscience</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Nursing and Health<br/>Care</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Philosophy</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Physics and <br/>Astronomy</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Politics</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Psychology</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Russian</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Scottish Literature</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sociology</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Statistics</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Theatre, Film and<br/>Television Studies</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Theology and Religious<br/>Studies</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Translation Studies</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Urban Studies</a></li>#}
{#        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Veterinary Studies</a></li>#}
    </ul>
</div>

    <div class="pure-menu pure-menu-horizontal">
        <a href="/note/" class="menu-link" style="height:10vh; width:auto;"><img src="{% static "images/logo1.JPG" %}",
        width = "250px", height = "100%" alt="emporium logo"/></a>

        <ul class="pure-menu-list-h">
        {% if user.is_authenticated %}
            <form id="base_logout" method="post" class="pure-form" action="/note/logout/" style="bottom:-25px;
             color:#94F5Fa; right:-12%; padding:8px; font-size:large;">
            <form id="base_profile" method="post" class="pure-form" action="/note/profile/" style="bottom:-25px;
             color:#94F5Fa; right:-12%; padding:8px; font-size:large;">
            Welcome, {{ user.get_username }}
            {% csrf_token %}
            <button class="pure-button" style="padding:8px; font-size:small"/>Profile</a>
            <button class="pure-button" style="padding:8px; font-size:small"/>Logout</a>
            </form>
        {% else %}
            <form id="base_login" method="post" class="pure-form" action="/note/login/" style="display:inline;">
                {%  csrf_token %}
            <fieldset>
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <label for="remember">
                    <input id="remember" type="checkbox"> Remember me
                </label>
                <button class="pure-button pure-button-primary" style="padding: 8px;">Log in</button>
            </fieldset>
            </form>
            <form id="base_register" method="post" class="pure-form" action="/note/register/" style="display:inline;">
            {% csrf_token %}
            <button class="pure-button pure-button-primary" style="padding: 8px;">Register</button>
            </form>
        {%  endif %}
        </ul>


    </div>
<div class = content>{% block content %}{% endblock %}</div>
</div>
</body>
</html>
